:root {
  --border-color: #7c907a;
  --font-color: #33202a;
  --background-color: #f7fcfe;
}

h1 {
  font-size: 150px;
  margin-bottom: 40px;
}
p {
  font-size: 24px;
}
button {
  padding: auto;
  margin: 10px 0px;
  border-radius: 35px;
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--font-color);
}
button:hover {
  transition: all 150ms ease-in-out;
  background-color: var(--border-color);
}
input {
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--font-color);
  outline-color: var(--font-color);
  border-radius: 10px;
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-family: monospace;
  margin-left: 430px;
}

.container-fluid {
  font-family: monospace;
  max-width: 750px;
  margin: 100px auto;
  color: var(--font-color);
  border-color: var(--border-color);
  border-style: ridge;
  border-width: 1px;
  border-radius: 10px;
  background-color: var(--background-color);
  padding: 30px;
  box-shadow: 1px 1px 50px #b1b1b1;
}
.otherCurrentInfo {
  text-align: center;
  margin-left: 30px;
  border-color: var(--border-color);
  border-style: ridge;
  border-width: 1px;
}

.units {
  font-size: 30px;
  margin: 40px auto;
  cursor: default;
}

.forecast {
  margin: auto;
  text-align: center;
  border-color: var(--border-color);
  border-style: ridge;
  border-width: 1px;
  padding: 12px;
}
.forecastIcons {
  background-color: var(--background-color);
  width: 30px;
  margin: 20px auto;
  text-align: center;
}

#icon {
  background-color: var(--background-color);
  width: 60px;
  margin: 40px auto;
  text-align: center;
  border-color: var(--border-color);
  border-style: ridge;
  border-width: 1px;
}
