h1 {
  font-size: 150px;
  margin-bottom: 40px;
}
p {
  font-size: 24px;
}
button {
  padding: auto;
  margin: 10px 0px;
  border-radius: 35px;
  background-color: #f1fff1;
  border-color: #c4f0c5;
  color: #6a0000;
}
button:hover {
  transition: all 150ms ease-in-out;
  background-color: #c4f0c5;
}
input {
  background-color: #f1fff1;
  border-color: #c4f0c5;
  color: #6a0000;
  margin-top: 20px;
  width: 300px;
}
a {
  color: #6a0000;
  text-decoration: none;
  font-family: monospace;
  margin-left: 430px;
}

.container-fluid {
  font-family: monospace;
  max-width: 750px;
  margin: 100px auto;
  color: #6a0000;
  border-color: #c4f0c5;
  border-style: ridge;
  border-width: 1px;
  border-radius: 10px;
  background-color: #f1fff1;
  padding: 30px;
  box-shadow: 1px 1px 50px #b1b1b1;
}
.otherCurrentInfo {
  text-align: center;
  margin-left: 30px;
  border-color: #c4f0c5;
  border-style: ridge;
  border-width: 1px;
}

.units {
  font-size: 30px;
  margin: 40px auto;
  cursor: default;
}

.forecast {
  margin: auto;
  text-align: center;
  border-color: #c4f0c5;
  border-style: ridge;
  border-width: 1px;
  padding: 12px;
}
.forecastIcons {
  background-color: #f1fff1;
  width: 30px;
  margin: 20px auto;
  text-align: center;
}

#icon {
  background-color: #f1fff1;
  width: 60px;
  margin: 40px auto;
  text-align: center;
  border-color: #c4f0c5;
  border-style: ridge;
  border-width: 1px;
}
